# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4
max_line_length = 80

[*.md]
trim_trailing_whitespace = false

# The JSON files contain newlines inconsistently.
[*.json]
insert_final_newline = ignore


# The only one we're using is formatted like this.
[*.svg]
indent_size = 4
insert_final_newline = ignore
