# Specifying which AWS credentials set to use. See the "Setup" section in the
# README.
export AWS_PROFILE=vector-test-harness

# Test Harness AWS account ID.
export VECTOR_TEST_HARNESS_AWS_ACCOUNT_ID=192797422531

# An AWS compatible key pair. This is used for SSH access to all test machines:
# https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html#having-ec2-create-your-key-pair
export VECTOR_TEST_SSH_PRIVATE_KEY=~/.ssh/vector_tests
export VECTOR_TEST_SSH_PUBLIC_KEY=~/.ssh/vector_tests.pub

# Update with your own user_id. This namespaces all tests and resources to your
# user_id. Ex: ben
export VECTOR_TEST_USER_ID=<REPLACE_ME>

# The S3 bucket used to store test results.
export VECTOR_TEST_RESULTS_S3_BUCKET_NAME=<REPLACE_ME>
