[Unit]
Description=Fluentbit
After=network-online.target
Requires=network-online.target

[Service]
User=td-agent-bit
Group=td-agent-bit
ExecStart=/opt/td-agent-bit/bin/td-agent-bit -c /etc/td-agent-bit/td-agent-bit.conf
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=td-agent-bit

[Install]
WantedBy=multi-user.target
