[Unit]
Description=Metrics collection service
After=network-online.target
Requires=network-online.target

[Service]
User=prometheus
Group=prometheus
WorkingDirectory=/srv/prometheus
EnvironmentFile=-/etc/default/prometheus
ExecStart=/opt/prometheus/prometheus --config.file=/srv/prometheus/config.yml --storage.tsdb.retention=45d --query.max-concurrency=50 $PROMETHEUS_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=prometheus
LimitNOFILE=200000

[Install]
WantedBy=multi-user.target
