[filebeat]
preinstalled_version={{ preinstalled_filebeat_version }}

[fluentbit]
preinstalled_version={{ preinstalled_fluentbit_version }}

[fluentd]
preinstalled_version={{ preinstalled_fluentd_version }}

[logstash]
preinstalled_version={{ preinstalled_logstash_version }}

[splunk_heavy_forwarder]
preinstalled_version={{ preinstalled_splunk_heavy_forwarder_version }}

[splunk_universal_forwarder]
preinstalled_version={{ preinstalled_splunk_universal_forwarder_version }}
