---
- name: Stop dstat
  shell: pkill dstat

- name: Upload dstat CSV to S3
  shell: |
    aws s3 cp /tmp/dstat.csv s3://vector-tests/name={{ test_name }}/configuration={{ test_configuration }}/subject={{ test_subject }}/version={{ lookup('vars', test_subject + '_version') }}/timestamp={{ test_timestamp }}/hostname={{ inventory_hostname }}/dstat.csv