[Unit]
Description=tcp_test_server
After=network-online.target
Requires=network-online.target

[Service]
User=tcp_test_server
Group=tcp_test_server
ExecStart=/usr/local/bin/tcp_test_server --address={{ address }}
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tcp_test_server

[Install]
WantedBy=multi-user.target
