[Unit]
Description=Logstash
After=network-online.target
Requires=network-online.target

[Service]
User=logstash
Group=logstash
ExecStart=/usr/share/logstash/bin/logstash -f /etc/logstash/conf.d/logstash.conf
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=logstash

[Install]
WantedBy=multi-user.target
